	
.texto{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.4;

}

#sobre_mi{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}


#certificaciones{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}


ul > li{
	font-family: 'Lato', sans-serif;
	margin-bottom: 5px;
	font-size: 20px;
}

.container{
	margin-top: 20px;
	padding: 15px;
	border: 0px solid red;
}

.col-md-6, .col-md-4{
	border: 0px solid red;
}

.encabezado{
	border-radius: 10px;
	background: #f2f2f2;
	box-shadow:  5px 5px 10px #ccc7c7,
	-5px -5px 10px #ffffff;
	border: 0px solid yellow;
}

.nombre{
	font-size: 50px;
}


.foto{
	border-radius: 50%;
	background: #e0e0e0;
	box-shadow:  7px 7px 14px #bebebe,
	-7px -7px 14px #ffffff;
}

.contacto{
	border-radius: 20px;
	background: #f2f2f2;
	box-shadow:  5px 5px 10px #ccc7c7,
	-5px -5px 10px #ffffff;
	margin: 20px;
	padding: 10px;

}

.contacto:hover{
	transform: scale(1.1);
}

.contenedor{
	border-radius: 10px;
	background: #f2f2f2;
	box-shadow:  5px 5px 10px #ccc7c7,
	-5px -5px 10px #ffffff;
	border: 0px solid red;
	font-weight: bold;
}

.col-md-8{
	border: 0px solid red;
}

.cuerpo{
	border: 0px solid green;
}

.saludo{
	border: 0px solid red;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
}



#profesion{
	font-family: 'Fira Code', monospace;
	border-radius: 10px;
	background: #f2f2f2;
	font-size: 20px;


}

#curso{
	font-family: 'Fira Code', monospace;
	font-style: italic;
	font-size: 14px;
}

#proyectos, #skills{
	font-size: 25px;
}

.contenedor-profesion{
	padding-left: 20px;
	padding-right: 20px;
}



body{
	background: #ededed;
}

