	
.texto{
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 1.4;
	font-weight: bold;
}


ul > li{
	font-family: 'Lato', sans-serif;
	margin-bottom: 5px;
}

.container{
	margin-top: 20px;
	border: 0px solid red;
}

.col-md-6, .col-md-4{
	border: 0px solid red;
}

.encabezado{
	border-radius: 10px;
	background: #f2f2f2;
	box-shadow:  5px 5px 10px #ccc7c7,
	-5px -5px 10px #ffffff;
	border: 0px solid yellow;
}

.nombre{
	font-size: 50px;
}

.foto{
	border-radius: 50%;
	background: #e0e0e0;
	box-shadow:  7px 7px 14px #bebebe,
	-7px -7px 14px #ffffff;
}

.contacto{
	border-radius: 20px;
	background: #f2f2f2;
	box-shadow:  5px 5px 10px #ccc7c7,
	-5px -5px 10px #ffffff;
	margin: 20px;
	padding: 10px;

}

.contacto:hover{
	transform: scale(1.1);
}

.contenedor{
border-radius: 20px;
background: #ededed;
box-shadow:  5px 5px 10px #c9c9c9,
             -5px -5px 10px #ffffff;
	border: 0px solid red;
	padding: 2%;

}

.col-md-8{
	border: 0px solid red;
}


#profesion{
	font-family: 'Fira Code', monospace;
	border-radius: 10px;
	background: #f2f2f2;
	font-size: 17px;
}

#curso{
	font-family: 'Fira Code', monospace;
	font-style: italic;
	font-size: 14px;
}

.contenedor-profesion{
	padding-left: 10px;
	padding-right: 10px;
}

.contenedor{
	border: 0px solid black;
}


body{
	background: #ededed;
}

h1{
	font-family: 'Lato', sans-serif;
	font-weight: bold	;
}